.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #98FB98;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
} 
.card-team {
  /* height: 100px; */
  /* text-align: centre; */
  float: left;
  /* font-family: algerian, courier; */
}

.card-fixture{
    float: left;
    font-size: 130%;
    font-family: algerian, courier;

}


.card-sim {
  float: none;
}

.card img {
height:200px;
width:200px;
}

.fixture-container{
  margin-left: 300px;
  margin-right: 300px;
}

.profile{
  margin-left: 100px;
}

.container {
  display: flex;
}

.fixture{
  float:centre;
}

.fix-card{
  float: right;
}

.navbar-default {
  background-color: #E6E6FA;
  border-color: #E7E7E7;
}

body {
background-color: #E6E6FA;
}


